body {
    background: #2e2beb;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "headline" "form" "entry";
    padding: 0 15vh;
    background: #f23557;
    color: yellow;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn-A47VE44kiYeamYcmqASy8wOdaIgGDjy4w&usqp=CAU);
    background-size: cover;
}

@media (min-width: 768px) {
    #app {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline headline" "form entry";
        height: 97vh;
    }
}

.entry {
    background: rgb(41 0 86 / 88%);
    grid-area: entry;
    margin-bottom: 38px;
}

form {
    grid-area: form;
    display: grid;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    grid-gap: 10px;
}

#entryHolder {
    padding: 15px;
}

#date::before {
    content: "Date : ";
    color: white;
}

#temp::before {
    content: "Temperature : ";
    color: white;
}

#content::before {
    content: "You're feeling : ";
    color: white;
}

#city::before {
    content: "City : ";
    color: white;
}

.headline {
    display: grid;
    grid-area: headline;
    align-self: center;
    justify-content: center;
}

.title {
    display: inline-flex;
    margin-top: 10px;
    justify-content: center;
    align-self: center;
    width: 100%;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 24px;
}

input {
    display: block;
    height: 40px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 320px;
    height: 40px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button.invalid {
    cursor: not-allowed;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}