<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload image</title>
</head>
<body style="background-color: rebeccapurple;">
    <div style="background-color: whitesmoke; margin: 25%;">
        <h1>this Page its not work now.. site is under devlop</h1>

        <form method="post" enctype="multipart/form-data">
            <div>
              <label for="image_uploads">Choose images to upload (PNG, JPG, etc..)</label>
              <input type="file" id="image_uploads" name="image_uploads" accept="image/*" multiple>
            </div>
            <div class="preview">
              <p>No files currently selected for upload</p>
            </div>
            <div>
                <input id="image" formmethod="post" type="image" src="https://raw.githubusercontent.com/mdn/learning-area/master/html/forms/image-type-example/login.png" alt="Login" width="100">
            </div>
        </form>
    </div>
    
   
</body>
</html>